{% extends 'base.html' %}
{% load static %}

{% block title %}Bienvenido a Gestor Ly{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row mb-4 text-center">
        <div class="col-12">
            <h1 class="display-4">Bienvenido a Gestor Ly</h1>
            <p class="lead">Sistema de gestión integrado para múltiples recursos</p>
        </div>
    </div>

    <!-- Contenedor para cada tabla importada -->
    <div class="row justify-content-center g-4">
        <!-- Contenedor para Importar Datos -->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">Importar Datos</h3>
                    <p class="card-text">Importa nuevos datos al sistema.</p>
                    <a href="{% url 'importar_personas' %}" class="btn btn-primary">Importar Datos</a>
                </div>
            </div>
        </div>

        <!-- Contenedor para Ver Tablas Importadas -->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">Ver Tablas Importadas</h3>
                    <p class="card-text">Consulta las tablas importadas en el sistema.</p>
                    <a href="{% url 'contenedoresTablas' %}" class="btn btn-primary">Ver Tablas</a>
                </div>
            </div>
        </div>

        <!-- Nuevo Contenedor para Backups -->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">Ver Backups</h3>
                    <p class="card-text">Consulta las copias de seguridad de las tablas.</p>
                    <a href="{% url 'ver_backups' %}" class="btn btn-primary">Ver Backups</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 